

h1{
    padding: 10px;
    margin: 10px;
    font-family: 'Unica One', cursive;
    text-align: center;
    font-size: 60px;
    color: FireBrick;
}


h2{
    padding: 10px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

audio { display:none;}
    
/* background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://i.pinimg.com/564x/4f/f5/b9/4ff5b96d92a234ec56a478724a8b6055.jpg'); https://i.pinimg.com/564x/ca/c4/ca/cac4cad507a4de0ec7d6ef09a3a3bc10.jpg */
body{
background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://i.pinimg.com/564x/d6/c0/95/d6c0954a8bcb6cad191031e8cc20304b.jpg');
}
https://i.pinimg.com/564x/d6/c0/95/d6c0954a8bcb6cad191031e8cc20304b.jpg
/*https://i.pinimg.com/564x/52/9b/41/529b418022b097b14b5f76ad50cecb45.jpg*/
section{
   display: block;
   margin-left: auto;
   margin-right: auto;
}



textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/*border: 3px solid #73AD21;*/

.fixthisnow{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img{
    width: 130px;
    height: 130px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
